.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card__image:hover {
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  max-width: 353px;
  top: 425px;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete-btn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  z-index: 1;
  padding: 0;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete-btn-hover.svg);
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/like.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url(../images/like-active.svg);
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
    line-height: 100%;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
  .card__image {
    height: 288px;
  }
}
