.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.card__title {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  max-width: 353px;
  height: 24px;
  top: 425px;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
    line-height: 100%;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
  .card__image {
    height: 288px;
  }
}
