/* thank you for your reviewing my code and helping me out, i really appreciate it! */

.modal {
  display: flex;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal.modal_is-opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  align-items: center;
  height: 40px;
  width: 40px;
  top: 32px;
  right: 50px;
  background-color: #fff;
  color: #212121;
  border-radius: 2px;
  border: none;
  background-image: url("../images/close-btn-opaque.png");
  opacity: 0.4;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Sans-serif;
  line-height: 100%;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  font-family: Poppins, Arial, Sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  width: 100%;
  color: #212121;
  border-radius: 8px;
  opacity: 40%;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  font-family: Poppins, Arial, Sans-serif;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  line-height: 100%;
}

.modal__input:hover {
  cursor: pointer;
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  color: #fcf5e5;
  background-color: #212121;
  font-family: Poppins, Arial, Sans-serif;
  border: none;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 600px) {
  .modal__container {
    padding: 12px 12px;
  }

  .modal__close-btn {
    right: 12px;
    top: 12px;
    width: 40px;
    height: 40px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__title {
    width: 106px;
    font-size: 20px;
    margin: 12px 0 24px;
  }

  .modal__submit-btn {
    max-width: 100%;
  }
}
