.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  border-radius: 8px;
  margin-right: 20px;
  max-width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  max-width: 420px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
}

.profile__description {
  margin: 0 0 32px;
  max-width: 420px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-btn {
  font-size: 16px;
  line-height: 100%;
  margin-top: auto;
  border: none;
  width: fit-content;
  height: 16px;
  display: flex;
  gap: 8px;
  color: #212121;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #fcf5e5;
  padding: 0;
  opacity: 0.7;
  cursor: pointer;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.profile__add-btn {
  cursor: pointer;
  border: none;
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 149px;
  height: 52px;
  padding: 18px 16px;
  border-radius: 8px;
  gap: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #fcf5e5;
  background-color: #212121;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-weight: 500;
    margin: 0 0 6px;
    max-width: 288px;
    font-size: 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    padding: 14px 16px;
  }

  .profile__edit-btn {
    margin: 0 auto;
  }
}
